body{
    background-image:linear-gradient(#ff0060 0,#ff6975);
    background-repeat:no-repeat;
    font-family: 'Spline Sans', sans-serif;
}
.top-area{
    color: white;
    text-align: center;
    font-size: 200%;
}
.toph1{
    margin:90px 0px 0px 0px;
}
h6{
    margin-top: 10px;
    margin-bottom:20px;
    font-weight: 200;
}
a{
    text-decoration: none;    
}
.social-media img{
    height:20px;
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.about-me{
    background-color: white;
    width: 95%;
    height: 400px;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 30px;
    text-align: justify;
}
h2{
    margin-left: 50px;
    padding-top: 60px;
}
.ab-div{
    display:flex;
    margin-right:50px;

}
.pic1{
    width: 300px;
    height: 180px;
    margin: 15px 50px 0px 50px;
    box-shadow: 5px 10px 15px #888888;
}
.project{
    display:flex;
}
.project img{
    width: 240px;
    height: 160px;
    margin:0px 0px 0px 50px;
    box-shadow: 5px 10px 15px #888888;
}
h3{
    margin-left: 50px;
    margin-top: 5px;
}
h4{
    font-weight: 100;
    margin-left: 50px;
}
.work{
    background-color: white;
    width: 95%;
    height: 500px;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 30px;
    text-align: justify;
}
.work-p{
    margin-left: 50px;
    margin-right: 50px;
}
.work-h4{
    margin-top: 50px;
    margin-bottom: 0px;
}